.updateProfile__container {
  position: absolute !important;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 100;
  left: 0;
  top: 0;
  animation: fadeIn 0.2s;
  -webkit-animation: fadeIn 0.2s;
  -moz-animation: fadeIn 0.2s;
  -o-animation: fadeIn 0.2s;
  -ms-animation: fadeIn 0.2s;
}

.updateProfile__window {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  position: absolute !important;
  width: 40rem;
  display: table;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #171717;
  z-index: 100;
  animation: fadeIn 0.2s;
  -webkit-animation: fadeIn 0.2s;
  -moz-animation: fadeIn 0.2s;
  -o-animation: fadeIn 0.2s;
  -ms-animation: fadeIn 0.2s;
}

.updateProfile__window label {
  display: inline-block;
  height: fit-content;
  margin: 15px 0;
  border-radius: 50%;
  border: 10px solid black;
}

.picture__container {
  width: 100%;
  height: fit-content;
}

.picture__container .line {
  height: 75%;
  width: 100%;
  position: absolute;
  top: 25%;
  background-color: rgb(2, 2, 2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -1;
  margin-left: -10px;
}

.updateProfile__window label .MuiIconButton-root {
  position: relative;
  width: fit-content;
  padding: 0;
  z-index: -1;
}

.updateProfile__window label .overlay {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  height: 100%;
  border-radius: 50%;
  width: 100%;
  transition: 0.2s ease;
  opacity: 0;
  background-color: rgba(47, 79, 79, 0.9);
  display: flex;
  flex-direction: column;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay h5 {
  font-size: small;
  width: min-content;
}

.updateProfile__window label:hover .overlay {
  opacity: 1;
}

.updateProfile__window label:hover {
  cursor: pointer;
}

.updateProfile__window .preview__container {
  display: table-row;
  box-sizing: border-box;
  max-height: 50vh;
}

.updateProfile__window .preview__container #preview {
  margin: 10px auto;
  max-height: 80%;
  background-color: #403d3d;
  border-radius: 5px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.updateProfile__window .preview__container .slider__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.updateProfile__window .preview__container .slider__container #slider {
  margin: 5px 20px;
  width: 75%;
}

.updateProfile__window .preview__container .button__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.updateProfile__window .preview__container .button__container button {
  margin: 10px 3px;
  width: 5rem;
  color: white;
  height: fit-content;
}

.updateProfile__window .cancel__button {
  background-color: transparent;
}

.updateProfile__window .cancel__button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.updateProfile__window .save__button {
  background-color: purple;
}

.updateProfile__window .save__button:hover {
  background-color: rgb(85, 0, 85);
  cursor: pointer;
}
.prof__info {
  box-sizing: border-box;
  background-color: rgb(48, 48, 48);
  margin: 15px;
  padding: 5px 15px;
  border-radius: 10px;
}

.prof__info .prof__section {
  margin: 13px 0;
  position: relative;
}

.prof__section .prof__header {
  color: rgb(187, 187, 187);
  margin: 2px 0;
}

.prof__section button {
  width: min-content;
  background-color: purple;
  height: fit-content;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.prof__section button:hover {
  cursor: pointer;
  background-color: rgb(82, 0, 82);
}

.defaultProf__options .MuiIconButton-root {
  position: relative;
  width: fit-content !important;
  height: fit-content;
}

.defaultProf__options #avatar {
  width: 128px;
  height: 128px;
}

.edit__info {
  background-color: blue;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
