.sidebarChat {
  box-sizing: border-box;
  padding: 2px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.allContainer {
  border-radius: 5px;
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 5px;
}

.allContainer:hover {
  background-color: #403d3d !important;
}

.info__container {
  box-sizing: border-box;
  padding: 2px 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

a {
  text-decoration: none !important;
}

.info__container h4 {
  margin: 3px 0;
}

.info__container .lastMessage {
  color: rgb(146, 146, 146);
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  max-width: 100%;
}

.info__container h5 {
  margin: 3px 0;
  color: #7b7776;
  font-weight: lighter;
}

#profpic {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 792px) {
  .allContainer {
    display: flex;
    justify-content: center;
  }

  .info__container {
    display: none;
  }
}
